.config {
  width: 100% !important;
}
.config-icon {
  font-size: 30px;
}
.container {
  display: table;
}
.company-card {
  display: table-cell;
  background-color: #FFF;
  border-radius: 20px;
  text-align: center;
  color: #000;
  height: 200px;
  width: 45%;
  margin: 0 0 30px 40px !important;
  text-align: center;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.company-card:hover {
  color: black;
  height: 200px;
  text-align: center;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.add-img {
  background: url(../images/add.jpg);
  background-size: 100% 100%;
  opacity: 1;
}

.table-config {
  background: rgba(255,255,255,0.9);
}

.no-access-card {
  background-color: rgba(255 , 255 , 255 ,1);
  color: black;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

.no-access-img {
  background: url('../images/noaccess.jpg') no-repeat center 0;
  width: 100%;
  height: 100%;
  text-align: right;
}