.home-background {
  background: url("../images/background.jpg") no-repeat center 0;
  background-size: cover;
}
.nav-alpha {
background-color: rgba(0,0,0,0.8);
}

.welcome-card {
  text-align: center;
  font-size: 2.5em;
  color: #909090;
  height: 300px;
  margin-top: 150px;
}

.center-align {
  text-align: center;
}

.max-container {
  max-width: 100%;
}