.home-background {
  background: url("../images/banquete.jpg") no-repeat center 0;
  background-size: cover;
}
.nav-alpha {
background-color: rgba(0,0,0,0.9);
}
.logo-container {
  padding: 0;
  width: 100%;
  height: 100%;
}
.logo {
  width: 50px;
  height: 50px;
}
.welcome-card {
  background-color: rgba(255,98,0,0.5);
  text-align: center;
  font-size: 2.5em;
  color: white;
  height: 300px;
  margin-top: 150px;
}

.center-align {
  text-align: center;
}

.max-container {
  max-width: 100%;
}